
.headerNav {
    width: 590px;
    margin: 0 auto;
    font-family: 'Roboto', Serif;
}

.headerNav a {
    display: inline-block;
    margin-right: 75px;
    color: #16a085;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 32px 0;
}

.headerNav a:last-child {
    margin-right: 0;
}

.homeSection {
    background-color: #f5f6f7;
    font-family: 'Roboto', Serif;
    color: #373737;
}

.homeSection figure {
    width: 100%;
    height: 792px;
    text-align: center;
    overflow: hidden;
}

.homeSection figure img {
    width: 100%;
}

.content {
    width: 100%;
    text-align: center;
}

.content h1 {
    font-size: 22px;
    margin-top: 55px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.content p {
    width: 1080px;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 36px auto 44px;
    line-height: 26px;
}

.getStartedHome {
    font-family: 'GothamRounded', Serif;
    font-size: 14px;
    font-weight: normal;
    display: block;
    width: 192px;
    height: 51px;
    color: #fff;
    background-color: #16a085;
    margin: 0 auto;
    line-height: 51px;
    border-radius: 3px;
}

.mainPageFooter {
    text-align: right;
    padding: 53px 100px;
    letter-spacing: 2px;
    font-family: 'Roboto', Serif;
    color: #373737;
}