:root{
    --theme_green: #3cb878;
}
html,body{
    height: 100%;
}
body{
    font-family: "Verdana", Serif;
}
.container{
    background: url("../images/bg.png") no-repeat top;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
header{
    background: rgba(0,0,0,0.5);
    height: 56px;
}
.header_inner{
    width: 90%;
    height: 56px;
    margin: 0 auto;
    line-height: 56px;
}
header h1{
    color:white;
    float: left;
    font-weight: bold;
    font-size: 20px;

}
header h1 a{
    color:white;
    transition: color 200ms;
}
header h1 a:hover{
    color:var(--theme_green);
}
nav{
    float:right;
}
.header_icons{
    display: inline-block;
    width: 33px;
    height: 25px;
    background-image: url("../images/icons.png");
    background-repeat: no-repeat;
    margin-right: 8px;
    vertical-align: middle;
    transition: all 200ms;
}

#calendar{
    background-position: 0 0;
}
#calendar:hover{
    background-position:0  -30px;
}
#forum{
    background-position: -31px 0;
}
#forum:hover{
    background-position: -31px -30px;
}
#journey{
    background-position: -68px 0;
}
#journey:hover{
    background-position: -68px -30px;
}

nav span{
    font-size:14px;
    color:white;
}
nav span a{
    color:var(--theme_green);
}
nav span a:hover{
    text-decoration: underline;
}
nav span::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 19px;
    background: #33312e;
    margin-right: 24px;
}
section{
    width: 100%;
    height: 639px;
    position: relative;
}
section .box{
    width: 445px;
    height: 613px;
    background: white;
    border-radius: 10px;
    position: absolute;
    left:0;right:0;top:0;bottom:0;
    margin:auto;
    box-shadow: 0px 0 20px 1px rgba(0,0,0,0.4);
}
section .box::before{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background: var(--theme_green);
    left:0;
    top:28px;
}

section .box_inner{
    width:323px;
    height: 525px;
    margin: 25px auto;
}
.signup h2{
    font-size:20px;
    color:#434343;
    display: inline-block;
    width:83%;
}
.signup .login{
    display: inline-block;
    text-align: right;
    color:var(--theme_green);
    font-size: 14px;
}
.signup .login:hover{
    text-decoration: underline;
}
.social_media{
    width: 158px;
    height: 48px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    text-align: center;
    line-height: 48px;
    color: white;
    font-size:16px;
}
.social_media .social_media_icon{
    display: inline-block;
    vertical-align: middle;
    background-image: url("../images/icons.png");
}
#facebook{
    background-color:#305db8;
    transition: background-color 200ms;
}
#facebook:hover{
    background-color: #264b96;
}
#facebook .social_media_icon{
    background-repeat: no-repeat;
    background-position: -120px 0;
    width: 15px;
    height: 27px;
    margin-right: 25px;
}
#facebook .social_media_icon::after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 28px;
    background: #2b54a5;
    vertical-align: middle;
    margin: 0 27px 26px;
}
#gplus{
    background: #df4a32;
    margin-left: 1px;
    transition: background-color 200ms;
}
#gplus:hover{
    background-color:#c3412c;
}
#gplus .social_media_icon{
    background-repeat: no-repeat;
    background-position: -148px -2px;
    width: 33px;
    height: 27px;
    margin-right: 19px;
}
#gplus .social_media_icon::after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 28px;
    background: #c8422d;
    vertical-align: middle;
    margin: 0 37px 26px;
}
#gplus .social_media_text{
    margin-right: 30px;
}
.helper{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.social_media{
    margin-top: 20px;
}
.or{
    display: block;
    height: 72px;
    width: 100%;
    line-height: 72px;
    font-size: 14px;
    color: #848484;
    text-align: center;
}
.box .texts{
    border:none;
    color:#434343;
    font-size:14px;
    width: 100%;
    height: 46px;
    line-height: 46px;
    box-sizing: border-box;
    padding: 0 10px;
    margin-bottom:17px;
    border-radius: 5px;
}
.box .texts::placeholder{
    color:#bebebe;
}
.box .texts:focus{
    outline: none;
    border-radius: 3px;
    box-shadow: 0px 9px 34px -3px rgba(0, 0, 0, 0.3);
}
label{
    color:#434343;
    font-size:14px;
    cursor: pointer;
}
label a{
    color:var(--theme_green);

}
label a:hover{
    text-decoration: underline;
}
.checkbox{
    position: relative;
    overflow: hidden;
    width:20px;
    height: 20px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #ececec;
    vertical-align: middle;

}
input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
input[type=checkbox]:checked ~ div {
    background-image: url("../images/icons.png");
    background-repeat: no-repeat;
    background-position: -114px -33px;
}
input[type=submit]{
    height: 46px;
    background-color:var(--theme_green);
    line-height: 46px;
    width: 100%;
    border:none;
    text-align: center;
    font-size:16px;
    color:white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top:28px;
    transition: background 200ms;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: #329a65;
}