.pricing-table{
    font-family: arimoregular, Serif;
    border:13px solid #3a4965;
    width:100%;
    height: 100%;
    text-transform: uppercase;
    color:#484848;
    text-align: center;
}
.tb-headings{
    font-family: arimobold, Serif;
    vertical-align: middle;
    padding: 19px 73px;

}
.pricing-table-td{
    border-left:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
    padding: 25px 73px;
    font-size:16px;
}
.tb-headings{
    font-size:24px;
    color:white;
}
.tb-headings-title{
    color:#484848;
}
.tb-headings-title{
     font-size:18px;
 }
.pricing-span{
    font-size:30px;
}
.th-standard{
    background-color: #89c331;
}
.th-ultimate{
    background-color: #f04a56;
    font-size:30px;
}
.th-premium{
    background-color: #20807c;
}
.pricing-table-tr-2n{
    background-color: #e3e3e3;
}
.td-boxShadow{
    box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.12);
}
.price,.cents,.perMonth{
    font-family: arimobold, Serif;
}
.price{
    font-size:60px;
    float:left;
}
.cents{
    font-size:24px;
    display: block;
    margin-top:6px;
}

.perMonth{
    font-family: arimoregular,serif;
    font-size:18px;
    display: block;
    margin-top:3px;
}
.prices-tr .pricing-table-td{
    padding: 25px 47px;
    text-align: left;
}
.pricing-table i{
    font-size:24px;
    margin-right:15px;
    vertical-align: middle;
}
.pricing-tables-plan-span{
    vertical-align: middle;
}
.tb-buttons{
    padding: 14px 47px;
    color: white;
    border-radius: 5px;
    position: relative;
    font-family: arimobold,Serif;
}
.tb-buttons::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 1px;
    width: 100%;
    height: 7px;
    margin: auto;
    left: 0;
    right: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.button-contact{
    background-color: #484848;
}
.button-contact::after{
    background-color: #404040;
}

.button-buyNow-green{
    background-color: #89c331;
}
.button-buyNow-green::after{
    background-color: #79b027;
}


.button-buyNow-red{
    background-color: #f04a56;
}
.button-buyNow-red::after{
    background-color: #df3a46;
}


.button-buyNow-blue{
    background-color: #20807c;
}
.button-buyNow-blue::after{
    background-color: #16736f;
}
.button-buyNow-blue,.button-buyNow-red,.button-buyNow-green{
    padding: 14px 60px;
}
.td-foot{
    padding: 46px 0px;
}
