:root{
    --theme_orange:#f26522;
}
body{
    font-family: 'Verdana', Serif;
    height: 100%;
}

.wrapper{
    width: 100%;
    background-image:url("../images/background.png");
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    margin: auto;
    overflow: hidden;
}
.container{
    width:1070px;
    margin: auto;
}
header{
    height: 45px;
    margin-top:45px;
}
.logo{
    display: block;
    float:left;
    color: #fff;
    width:167px;
    transition: color 200ms ease-in-out;
}
.logo:hover .logoSprite{
    background-position-y: 47px;
}
.logo:hover{
    color:var(--theme_orange);
}
.logoSprite{
    background-image: url("../images/logo.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position-y: -1px;
    width: 48px;
    height: 46px;
    float: left;
    transition: background-position 200ms ease-in-out;
}
header h1{
    display: block;
    font-size: 29px;
    font-weight: bold;
    margin-left: 15px;
    float: right;
    width: 104px;
    text-transform: uppercase;
}
header h1 span{
    font-size: 18px;
    display: block;
    clear: both;
    text-indent: 1px;
}
address{
    float:right;
    width:267px;
}
address a{
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
    text-align: right;
    font-size: 18px;
    margin-top: 5px;
}
section{
    width: 100%;
    height: 570px;
    overflow: hidden;
    margin-top:45px;
}
.services_items{
    width:313px;
    margin-right: 59px;
    display: inline-block;
    vertical-align: top;
}
.services_items:nth-child(3n){
    margin-right: 0;
}
.services_items:nth-child(n+4){
    margin-top:38px;
}
.helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.services_image {
    display: block;
    width: 312px;
    height: 204px;
    background-image: linear-gradient(white,black);
    box-shadow: 1px 20px 20px 0px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    text-align: center;
    font-size: 0; /* horizontal shift fix */
    overflow: hidden;

}
.services_image img{
    vertical-align: middle;
}
.services_items h2{
    display: block;
    width: 100%;
    height: 58px;
    text-align: center;
    line-height: 58px;
    color: white;
    font-size: 18px;
    transition: all 200ms ease-in-out;
}
.services_details{
    display: block;
    background-color: var(--theme_orange);
    width: 100%;
    height: 65px;
    color: white;
    transition: all 200ms ease-in-out;
}
.price{
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 15px;
    width: 50%;
    text-align: left;
}
.price span{
    font-size:21px;
}
.details{
    font-size: 14px;
    display: inline-block;
    vertical-align: bottom;
}
.services_details::after{
    content: "";
    background-image: url(../images/Arrow.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 7px;
    height: 11px;
    vertical-align: bottom;
    margin-left: 18px;
}
.services_items a:hover .services_details{
    transform: translateY(-65px);
}
.services_items a:hover h2{
    color:var(--theme_orange);
}
footer{
    text-align: center;
    color: white;
    font-size: 12px;
    padding-bottom: 20px;
}