body{
    font-family: 'PT Sans', Serif;
    font-weight: 900;
}
.wrapper{
    width: 1280px;
    margin: 45px auto 0;
    overflow: hidden;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
h1{
    font-size: 80px;
    color: #000000;
}
h1 span{
    color:#4bcaff;
}
nav{
    width : 100%;
    height: 70px;
    margin: 65px auto 53px;
    background: #35444f;
}
nav ul{
    width:890px;
    margin: 0 auto;
}
nav li{
    display: inline-block;
    box-sizing: border-box;
    border-left: 1px solid #35444f;
    border-right: 1px solid #35444f;
}
nav li:hover{
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
    background-color: #222f3a;
}
nav li:last-child{
    margin-right: 0;
}
nav a{
    color: #ffffff;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    line-height: 70px;
    display: block;
    height: 100%;
    padding: 0 36px;
    box-sizing: border-box;
}
aside{
    width:344px;
    height: 403px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #35444f;
    display: inline-block;
    vertical-align: top;
}
section{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 885px;
    display: inline-block;
    margin-left: 44px;
}
aside li{
    width: 99.9%;
    height: 80px;
    margin: 0 auto;
}
aside li a{
    display: block;
    font-weight: 400;
    width:100%;
    height: 100%;
    text-align: left;
    text-indent: 42px;
    color:#495863;
    line-height: 80px;
    font-size: 24px;
    background-color:white;
    -webkit-transition: color,background-color 200ms ease-in;
    -moz-transition: color,background-color 200ms ease-in;
    -ms-transition: color,background-color 200ms ease-in;
    -o-transition: color,background-color 200ms ease-in;
    transition: color,background-color 200ms ease-in;
    -webkit-transition: text-indent 150ms ease-in;
    -moz-transition: text-indent 150ms ease-in;
    -ms-transition: text-indent 150ms ease-in;
    -o-transition: text-indent 150ms ease-in;
    transition: text-indent 150ms ease-in;
}
aside li a:hover{

    color:#000000;
    background-color : #dbdbdb;
    text-indent: 72px;
}
figure{
    width: 100%;
    height: 530px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    border: 1px solid #35444f;
}
figure span{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
figure img{
    display: inline-block;
    vertical-align: middle;
    transition: transform 300ms;
}
figure:hover img{
    transform: scale(1.2);
}
.content{
    width:825px;
    float:right;
    margin-top:50px;
    font-size:17px;
    font-weight: 400;
    line-height: 24px;
    box-sizing: border-box;
    padding-right: 35px;
}
.content p:last-child{
    margin-top:35px;
}
footer{
   width: 100%;
    height: 70px;
    background-color:#dbdbdb;
    margin-top:55px;
    margin-bottom:32px;
}
footer ul{
    display: inline-block;
    width: 82%;
}
footer ul li{
    display: inline-block;
    margin-left:27px;
}
footer a{
    line-height: 70px;
    color:#0c1927;
    font-size:25px;
    font-weight: 400;
    transition: all 200ms ease-in;
}
footer a:hover{
    color:#3181a6;
    text-decoration: underline;
}
.copyright{
    display: inline-block;
    text-align: right;
    font-size:24px;
    font-weight: 400;
    padding-right:35px;
}